#validation-input {
  border: 4px solid #d6d3d3;
}

#validation-input.valid {
  border-color: #18661b;
}

#validation-input.invalid {
  border-color: #ec1d0e;
}

#gallery.sizing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
